debug/
node_modules/
responses/
tweets.json

# logs
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# caches
.cache
.npm
.next
.temp
.eslintcache
out
dist

# environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.yarn-integrity

# Finder (MacOS) folder config
.DS_Store

# packages
*.tgz